#about{
  margin-top: 10em;
  width: 100%;
}


.top-bar ul{
  background-color: none;
}
.my-arrow-div {
  font-size: 1.2em;
  margin-top: 2em;
  padding-top: 0;
  background-color: none;
}


.belowMenu{
  width: 100%;
  height: 15em;
  background-color: white;
}



.face {
  /* background-color: tomato; */
  position: relative;
  width: 50em;
  height: auto;
  margin: auto;
}



#teaching {
  padding: 1.5em 4em 3em;
}

.designerHeading{
  left: 1em;
  width: 50%;
  height: 50%;
  color: black;

}

.coderHeading{
  width: 50%;
  height: 50%;
  right: 1em;
  text-align: left;
  color: black;
}

.face .coderHeading{
  position: absolute;
  display: block;
  z-index: 10;
  margin: auto;
  top: 0;
  bottom: 0;
  margin-right: -15em;

}
.face .designerHeading{
  position: absolute;
  display: block;
  z-index: 10;
  margin: auto;
  top: 0;
  bottom: 0;
  margin-left: -5em;
}

.text-center{
  padding-top: 1.5em;
}
.Otherskills{
  text-align: center;
}




@media only screen and (max-width: 480px){


  .my-arrow-div{
    font-size: 0.8em;
    text-align: center;
  }

  .designerHeading{
    left: 1em;
    width: 25%;
    height: 25%;
    font-size: 0.7em;
    color: black;
  
  }
  
  .coderHeading{
    width: 25%;
    height: 25%;
    right: 1em;
    font-size: 0.7em;

    color: black;
  }
  .face{
    top: 0;
  }
  .my-arrow-div{
    margin: 0;
    padding: 15px;
    background-color: none;
    margin-top: 7em;
  }

  .face .designerHeading{
    position: relative;
    display: block;
    z-index: 10;
    margin: auto;
    bottom: 0;
    margin-left: 2em;
    margin-top: -15em;
  }
  
  .face .coderHeading{
    position: relative;
    display: block;
    z-index: 10;
    margin: auto;
    bottom: 0;
    margin-right:2em;
    margin-top: -15em;

  }
  
  .face {
    /* background-color: tomato; */
    width: auto;
    height: 300px;
  }
  .belowMenu{
    width: 100%;
    height: 23em;
    background-color: white;
  }

}


@media only screen and (min-width: 582px){
  .face .designerHeading{
    margin-left: 6em;

  }
  .face .coderHeading{
    margin-right: 20em;

  }
  .face .coderHeading{
    width: 15%;
    height: 20%;
    font-size: 0.8em;
    color: black;
  }

  .designerHeading{
    width: 15%;
    height: 25%;
    font-size: 0.8em;
    color: black;  
  }

  .listskills-right{
    text-align: center;
    padding-right: 0;
  }
}



  @media only screen and (min-width: 768px){
    .face .designerHeading{
      margin-left: 5em;
  
    }
    .face .coderHeading{
      margin-right: 7em;
  
    }
    .face .coderHeading{
      width: 15%;
      height: 25%;
      font-size: 0.8em;
      color: black;
    }
  
    .designerHeading{
      width: 15%;
      height: 25%;
      font-size: 0.8em;
      color: black;  
    }
  
    .listskills-right{
      text-align: center;
      padding-right: 0;
    }
  }

  @media only screen and (min-width: 1500px){
    .face .designerHeading{
      margin-left: -6em;
  
    }
    .face .coderHeading{
      width: 30%;
      height: 35%;
      font-size: 0.8em;
      color: black;
      margin-right: -10em;

    }
   
  
    .designerHeading{
    width: 30%;
      height: 35%;
      font-size: 0.8em;
      color: black;  

    }
        .listskills-right{
      text-align: center;
      padding-right: 1.5em;
    }
  

  }
  
 
  


