body, html {
  background-color: white;
}

.top-bar{
  background-color: #E3E3E3;
  height: 11em;
}

#about{
  background-color: #E3E3E3;
}
  

.belowMenu{
  width: 100%;
  height: 25em;
  background-color: white;
}

.face {
  /* background-color: tomato; */
  position: relative;
  width: 40em;
  height: auto;
  margin: auto;
  background-image:url('../images/coder.png');
  background-size: cover;
}
.coder {
  position: relative;
  /* background-color: gold; */
  width: 40em;
  max-width: 100%; /* duh */
  height: 100%;
  margin: auto;
  /* Using box-shadow to remind myself that the gold element is inside of (above) the parent */
  /* box-shadow: 0 0 2em black; */
  overflow: hidden;
}
.logo {
  position: relative;
  width: 40em;
  height: auto;
  margin: auto;
  max-width: none;
  display: block;
}

.designerHeading{
  left: 1em;
  width: 30%;
  height: 30%;
  color: black;

}

.coderHeading{
  width: 30%;
  height: 30%;
  right: 1em;
  text-align: right;
  color: black;
}

.face .coderHeading{
  position: absolute;
  display: block;
  z-index: 10;
  margin: auto;
  top: 0;
  bottom: 0;
  margin-right: -5em;

}
.face .designerHeading{
  position: absolute;
  display: block;
  z-index: 10;
  margin: auto;
  top: 0;
  bottom: 0;
  margin-left: -5em;
}

.listskills{
  text-align: left;
}
.my-arrow-div{
  background-color: white;
  width: 100%;
}

#teaching{
  background-color: #E3E3E3;
  width: 100%;
  height: 88em;
}

#footer{
  background-color: #E3E3E3;
  width: 100%;
  height: 15em;
}







input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  color: black; 
  text-transform: uppercase;
  border-radius: 50px;
  border: 2px solid black;
  cursor: pointer;
  text-align: center;
  float: center;
}

input[type=submit]:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
  background-color: black;
  color: white;
}










@media only screen and (max-width: 480px){


  #teaching{
    background-color: #E3E3E3;
    width: 100%;
    height: 110em;
  }

  .listsoftware{
		font-size: 0.7em;
		text-align: center;
		padding-right:0;
		margin-right: 1.5em;
	}
	.listskills-right{
    text-align: center;
    font-size: 1.5em;

  }
  .listskills{
    text-align: center;
    font-size: 1.2em;

  }
  h3{
    font-size: 1.5em;
  }
  h2{
    padding-bottom: 1.5em;

  }
	.listsoftware-right{
		font-size: 0.7em;
		text-align: center;
		padding-right:0;
		margin-right: 15px;
  }
  .logo{
    visibility: hidden;
  }

  .designerHeading{
    left: 1em;
    width: 25%;
    height: 25%;
    font-size: 0.7em;
    color: black;
  
  }
  
  .coderHeading{
    width: 25%;
    height: 25%;
    right: 1em;
    font-size: 0.7em;

    color: black;
  }

  .face .designerHeading{
    position: absolute;
    display: block;
    z-index: 10;
    margin: auto;
    top: 35em;
    bottom: 0;
    margin-left: 0;
  }
  
  .face .coderHeading{
    position: absolute;
    display: block;
    z-index: 10;
    margin: auto;
    top: 35em;
    bottom: 0;
    margin-right:2em;
  
  }

  .face {
    /* background-color: tomato; */
    width: auto;
    height: 300px;
    background-image:url('../images/coderanddesigner.png');
  }

  .my-arrow-div{
    background-color: white;
    width: 100%;
    padding-top: 7em;
  }
  }